<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=">
    <title>Url Shortener</title>
</head>
<body>
    <h1>URL Shortener</h1>
    <p id="shortIdNotice"></p>
    <form action="/user/signup" method="POST">
        <label>
        name:<input type="text" name="name" placeholder="name" required>
        </label>
         <label>
        email:<input type="text" name="email" placeholder="name" required>
        </label>
         <label>
        password:<input type="text" name="password" placeholder="name" required>
        </label>
        <button type="submit">signup</button>
    </form>

</html>